a {
    text-decoration: none;
}

.d_ws {
    white-space: nowrap;
}

.d_fw500 {
    font-weight: 500;
}

.d_cur {
    cursor: pointer;
}

.d_p-100 {
    padding: 100px 0;
}

.d_p-30 {
    padding: 30px 0;
}

.d_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}


.d_groceryhome {
    padding: 40px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/darshan_img/grocerybanner.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.d_groceryhome .d_firstsec {
    padding: 192px 0;

}

.d_groceryhome .d_heading {
    max-width: 700px;
}

.d_groceryhome .d_heading h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 10px;
}

.d_groceryhome .d_headingtext {
    max-width: 762px;
}

.d_groceryhome .d_headingtext p {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}

.d_groceryhome .d_cta {
    margin-top: 26px;
}

.d_groceryhome .d_cta a {
    padding: 15px 50px;
    border-radius: 4px;
    background-color: #CA9F5C;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

.d_feature img {
    width: 32px;
    height: 32px;
    margin-right: 24px;
}

.d_feature p {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
}

.d_feature .d_fealist {
    border-right: 1px dashed #FFFFFF;
    padding: 11px 48px;
}

.d_feature .d_fea4 {
    border-right: none;
}

.d_grocerylist h2 {
    color: #000;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
}

.d_grocerylist a {
    font-size: 18px;
    color: #000;
    line-height: 28px;
    font-weight: 500;
}

.d_grocerylist .d_item {
    position: relative;
}

.d_grocerylist .d_item .d_img {
    width: 100%;
    height: 400px;
    position: relative;
}

.d_grocerylist .d_item .d_img .d_overlayimg {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 8px;
}

.d_grocerylist .d_item .d_img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.d_grocerylist .d_item .d_content {
    padding: 28px 0 0 0;
}

.d_grocerylist .d_item .d_title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: #000;
    margin-bottom: 6px;
}

.d_grocerylist .d_item .d_price {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    color: #000;
    margin-bottom: 6px;
}

.d_grocerylist .d_item .d_star img {
    width: 20px;
    height: 20px;
}

.d_grocerylist .d_item .d_star .d_emptystar {
    width: 24px;
    height: 24px;
}

.d_grocerylist .d_item .d_review {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #000;
}

.d_grocerylist .d_item .d_iconoverlay .d_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #CA9F5C;
    margin: 0 5px;
    cursor: pointer;
}

.d_grocerylist .d_item .d_iconoverlay .d_icon img {
    width: 24px;
    height: 24px;
}

.d_grocerylist .d_item .d_iconoverlay {
    position: absolute;
    bottom: 155px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.25s;
}

.d_grocerylist .d_item:hover .d_iconoverlay {
    opacity: 1;
}

.d_grocerylist .d_item:hover .d_overlayimg {
    opacity: 1;
}

.d_grocerylist .d_backimg {
    position: absolute;
    top: 310px;
    z-index: -2;
}

.d_grocerylist .d_backimg1 {
    position: absolute;
    bottom: 20px;
    right: 0;
    z-index: -2;
}

.d_banner2 {
    background-image: url('/darshan_img/banner.png');
    padding: 150px 0;
    /* padding: 50px 0px; */
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.d_banner2 .d_text {
    max-width: 540px;
}

.d_banner2 .d_text h3 {
    font-size: 58px;
    color: #000;
    line-height: 68px;
    font-weight: 700;
    margin-bottom: 2px;
}

.d_banner2 .d_text p {
    font-size: 22px;
    line-height: 34px;
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
}

.d_banner2 .d_text .d_cta a {
    border-radius: 4px;
    background-color: #271B09;
    padding: 13px 50px;
    font-size: 16px;
    line-height: 38px;
    font-weight: 500;
    color: #fff;
}

.d_banner2 .d_discounttext {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 105px;
    right: 825px;
}

.d_discount .d_discountvalue {
    position: absolute;
    top: 3%;
}

.d_discount .d_discountvalue span {
    padding: 4px 18px;
    background-color: #041527;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
}

.d_grocerylist .d_backimg3 {
    position: absolute;
    top: 690px;
    z-index: -2;
}

/* Category */

.d_category .d_left h5 {
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: #000;
    margin: 20px 0;
}

.d_category .d_left .d_list {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 28px 0px #0000000F;
    padding: 15px 0;
}

.d_category .d_left .d_list li {
    padding: 15px 0 15px 30px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.d_category .d_acc {
    margin-bottom: 20px;
}

.d_category .d_left .d_acc .accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.d_category .d_left .d_acc .accordion-button {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding: 15px 25px 15px 30px;
}

.d_category .d_left .d_acc .accordion-item:first-of-type,
.d_category .d_left .d_acc .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-radius: 0;
}

.d_category .d_left .d_acc .accordion-button:focus {
    box-shadow: none;
}

.d_category .d_left .d_acc .accordion-header {
    border: 0.84px solid #000000;
}

.d_category .d_left .d_acc .accordion-body {
    box-shadow: 0px 4px 28px 0px #0000000F;
    padding-left: 30px;
}

.d_category .d_left .accordion {
    --bs-accordion-border-width: none !important;
}

.d_category .d_acc .radio-wrapper {
    position: relative;
    margin-bottom: 14px;
}

.d_category .d_acc .radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.d_category .d_acc .radio-label {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
}

.d_category .d_acc .radio-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #1D2C3D;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    transition: all 0.2s;
}

.d_category .d_acc .radio-input:checked+.radio-label::before {
    border-color: #041527;
}

.d_category .d_acc .radio-input:checked+.radio-label::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #041527;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
}

.checkbox-wrapper {
    display: block;
    position: relative;
    margin-bottom: 14px;
}

.checkbox-wrapper input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #1D2C3D;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 4px;
}

.checkbox-wrapper input[type="checkbox"]:checked {
    background-color: #1D2C3D;
}

.checkbox-wrapper input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 4px;
    height: 9px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-wrapper label {
    cursor: pointer;
    vertical-align: middle;
    font-size: 15px;
    color: #000;
    font-weight: 400;
    line-height: 20px;
}

/* Focus styles for accessibility */
.checkbox-wrapper input[type="checkbox"]:focus {
    outline-offset: 2px;
}

.d_category .d_right .dropdown-menu {
    width: 210px;
    border-radius: 4px;
    box-shadow: 0px 4px 28px 0px #0000000F;
    --bs-dropdown-border-width:none;
}

.d_category .d_right .d_drop .btn {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}

.d_category .d_right .d_drop a {
    border: 0.5px solid #000000;
}

.d_category .d_right .d_drop h6 {
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    padding: 20px 14px 16px 14px;
}

.d_category .d_right .d_drop .dropdown-menu .d_list {
    padding: 20px 14px 0 14px;

}

.d_category .d_right .d_drop .dropdown-menu li a {
    padding: 0;
    border: none;
}

hr {
    opacity: 1;
    margin: 0;
}

.d_searchlist .d_list .radio-wrapper {
    position: relative;
    margin-bottom: 14px;
}

.d_searchlist .d_list .radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.d_searchlist .d_list .radio-label {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
}

.d_searchlist .d_list .radio-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #1D2C3D;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    transition: all 0.2s;
}

.d_searchlist .d_list .radio-input:checked+.radio-label::before {
    border-color: #041527;
}

.d_searchlist .d_list .radio-input:checked+.radio-label::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #041527;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
}
.d_searchlist .d_search{
    margin-left: 16px;
    border: 0.5px solid #000000;
    border-radius: 8px;
    padding: 5px 20px;
}
.d_searchlist .d_search .d_text{
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}
.d_category .d_lgwidth{
    width: 20% ;
}


@media(max-width:1920px) {
    .d_banner2 {
        padding: 50px 0;
    }

    .d_banner2 .d_discounttext {
        top: 35px;
        right: 600px;
    }
    
}

@media(max-width:1690px) {
    .d_banner2 .d_discounttext {
        top: 40px;
        right: 520px;
    }
}

@media(max-width:1440px) {
    .d_grocerylist .d_item .d_img {
        height: 350px;
    }

    .d_banner2 .d_discounttext {
        top: 45px;
        right: 420px;
    }
    .d_category .d_lgwidth{
        width: 25%;
    }
    
}

@media(max-width:1199px) {
    .d_groceryhome .d_firstsec {
        padding: 55px 0;
    }

    .d_feature .d_fealist {
        padding: 11px 16px;
    }

    .d_grocerylist h2 {
        font-size: 28px;
    }

    .d_grocerylist .d_item .d_img {
        height: 350px;
    }

    .d_banner2 .d_text h3 {
        font-size: 36px;
    }

    .d_banner2 .d_discounttext {
        font-size: 36px;
        line-height: 42px;
    }

    .d_banner2 .d_discounttext {
        top: 45px;
        right: 275px;
    }
    .d_category .d_lgwidth{
        width: 33.33%;
    }
}

@media(max-width:991px) {
    .d_groceryhome .d_heading h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .d_feature img {
        width: 22px;
        height: 22px;
        margin-right: 12px;
    }

    .d_feature p {
        font-size: 16px;
    }

    .d_feature .d_fealist {
        padding: 11px 8px;
    }

    .d_grocerylist h2 {
        font-size: 26px;
    }

    .d_banner2 .d_text .d_cta a {
        padding: 13px 20px;
    }

    .d_banner2 .d_discounttext {
        top: 45px;
        right: 148px;
    }
    .d_category .d_lgwidth{
        width: 50%;
    }
}

@media(max-width:767px) {
    .d_groceryhome {
        padding: 20px 0;
    }

    .d_groceryhome .d_heading h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .d_groceryhome .d_headingtext p {
        font-size: 16px;
        line-height: 20px;
    }

    .d_feature .d_fealist {
        border-right: none;
    }

    .d_feature .d_fea4 {
        padding-right: 36px;
    }

    .d_banner2 .d_text h3 {
        font-size: 20px;
        line-height: normal;
    }

    .d_banner2 .d_text p {
        font-size: 18px;
    }

    .d_banner2 {
        padding: 25px 0;
    }

    .d_banner2 .d_discounttext {
        font-size: 24px;
        line-height: 30px;
    }
    .d_searchlist .d_search{
        margin-left: 8px;
        padding: 5px;
        margin-top: 8px;
    }
    .d_category .d_lgwidth{
        width: 100%;
    }
}

@media(max-width:576px) {
    .d_feature img {
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }

    .d_groceryhome .d_cta a {
        padding: 10px 25px;
    }

    .d_grocerylist h2 {
        font-size: 22px;
    }

    .d_grocerylist a {
        font-size: 16px;
    }

    .d_banner2 .d_discounttext {
        top: 28px;
        right: 56px;
    }
}

@media(max-width:375px) {
    .d_banner2 .d_discounttext {
        top: 25px;
        right: 32px;
    }
}

@media(max-width:320px) {
    .d_feature p {
        font-size: 13px;
    }

    .d_feature .d_fea4 {
        padding-right: 31px;
    }

    .d_grocerylist h2 {
        font-size: 18px;
    }

    .d_banner2 {
        padding: 15px 0;
    }

    .d_banner2 .d_discounttext {
        font-size: 20px;
        line-height: 22px;
    }

    .d_banner2 .d_discounttext {
        top: 23px;
        right: 36px;
    }

    .d_banner2 .d_text .d_cta a {
        padding: 8px 14px;
    }

    .d_banner2 .d_text p {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .d_banner2 .d_text h3 {
        font-size: 18px;
    }
}


/* contianer*/

@media (min-width: 1650px) {
    .d_container {
        width: 1620px;
    }
}

@media (min-width: 1200px) and (max-width: 1649px) {
    .d_container {
        width: 1199px;
        max-width: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .d_container {
        width: 970px;
        max-width: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .d_container {
        width: 750px;
        max-width: none;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .d_container {
        max-width: 750px;
    }
}

@media (min-width: 300px) and (max-width: 450px) {
    .d_container {
        max-width: 750px;
        padding: 0px 10px;
    }
}