* {
    box-sizing: border-box;
}

body {
    font-family: "imter", sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", system-ui;
}

.d_ws {
    white-space: nowrap;
}

.d_fw500 {
    font-weight: 500;
}

.d_cur {
    cursor: pointer;
}

.d_p-100 {
    padding: 100px 0;
}

.d_p-30 {
    padding: 30px 0;
}

.d_p-60 {
    padding: 60px 0;
}

.d_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}


.d_groceryhome {
    padding: 40px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/darshan_img/grocerybanner.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.d_groceryhome .d_firstsec {
    padding: 192px 0;

}

.d_groceryhome .d_heading {
    max-width: 700px;
}

.d_groceryhome .d_heading h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 10px;
}

.d_groceryhome .d_headingtext {
    max-width: 762px;
}

.d_groceryhome .d_headingtext p {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}

.d_groceryhome .d_cta {
    margin-top: 26px;
}

.d_groceryhome .d_cta a {
    padding: 15px 50px;
    border-radius: 4px;
    background-color: #CA9F5C;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

.d_feature img {
    width: 32px;
    height: 32px;
    margin-right: 24px;
}

.d_feature p {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
}

.d_feature .d_fealist {
    border-right: 1px dashed #FFFFFF;
    padding: 11px 48px;
}

.d_feature .d_fea4 {
    border-right: none;
}

.d_grocerylist h2 {
    color: #000;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
}

.d_grocerylist a {
    font-size: 18px;
    color: #000;
    line-height: 28px;
    font-weight: 500;
}

.d_grocerylist .d_item {
    position: relative;
}

.d_grocerylist .d_item .d_img {
    width: 100%;
    height: 400px;
    position: relative;
}

.d_grocerylist .d_item .d_img .d_overlayimg {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 8px;
}

.d_grocerylist .d_item .d_img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.d_grocerylist .d_item .d_content {
    padding: 28px 0 0 0;
}

.d_grocerylist .d_item .d_title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: #000;
    margin-bottom: 6px;
}

.d_grocerylist .d_item .d_price {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    color: #000;
    margin-bottom: 6px;
}

.d_grocerylist .d_item .d_star img {
    width: 20px;
    height: 20px;
}

.d_grocerylist .d_item .d_star .d_emptystar {
    width: 24px;
    height: 24px;
}

.d_grocerylist .d_item .d_review {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #000;
}

.d_grocerylist .d_item .d_iconoverlay .d_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #CA9F5C;
    margin: 0 5px;
    cursor: pointer;
}

.d_grocerylist .d_item .d_iconoverlay .d_icon img {
    width: 24px;
    height: 24px;
}

.d_grocerylist .d_item .d_iconoverlay {
    position: absolute;
    bottom: 155px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.25s;
}

.d_grocerylist .d_item:hover .d_iconoverlay {
    opacity: 1;
}

.d_grocerylist .d_item:hover .d_overlayimg {
    opacity: 1;
}

.d_grocerylist .d_backimg {
    position: absolute;
    top: 310px;
    z-index: -2;
}

.d_grocerylist .d_backimg1 {
    position: absolute;
    bottom: 20px;
    right: 0;
    z-index: -2;
}

.d_banner2 {
    background-image: url('/darshan_img/banner.png');
    padding: 150px 0;
    /* padding: 50px 0px; */
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.d_banner2 .d_text {
    max-width: 540px;
}

.d_banner2 .d_text h3 {
    font-size: 58px;
    color: #000;
    line-height: 68px;
    font-weight: 700;
    margin-bottom: 2px;
}

.d_banner2 .d_text p {
    font-size: 22px;
    line-height: 34px;
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
}

.d_banner2 .d_text .d_cta a {
    border-radius: 4px;
    background-color: #271B09;
    padding: 13px 50px;
    font-size: 16px;
    line-height: 38px;
    font-weight: 500;
    color: #fff;
}

.d_banner2 .d_discounttext {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 105px;
    right: 825px;
}

.d_discount .d_discountvalue {
    position: absolute;
    top: 3%;
}

.d_discount .d_discountvalue span {
    padding: 4px 18px;
    background-color: #041527;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
}

.d_grocerylist .d_backimg3 {
    position: absolute;
    top: 690px;
    z-index: -2;
}

/* Category */

.d_category .d_left h5 {
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: #000;
    margin: 20px 0;
}

.d_category .d_left .d_list {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 28px 0px #0000000F;
    padding: 15px 0;
}

.d_category .d_left .d_list li {
    padding: 15px 0 15px 30px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.d_category .d_acc {
    margin-bottom: 20px;
}

.d_category .d_left .d_acc .accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.d_category .d_left .d_acc .accordion-button {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding: 15px 25px 15px 30px;
}

.d_category .d_left .d_acc .accordion-item:first-of-type,
.d_category .d_left .d_acc .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-radius: 0;
}

.d_category .d_left .d_acc .accordion-button:focus {
    box-shadow: none;
}

.d_category .d_left .d_acc .accordion-header {
    border: 0.84px solid #000000;
}

.d_category .d_left .d_acc .accordion-body {
    box-shadow: 0px 4px 28px 0px #0000000F;
    padding-left: 30px;
}

.d_category .d_left .accordion {
    --bs-accordion-border-width: none !important;
}

.d_category .d_acc .radio-wrapper {
    position: relative;
    margin-bottom: 14px;
}

.d_category .d_acc .radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.d_category .d_acc .radio-label {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
}

.d_category .d_acc .radio-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #1D2C3D;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    transition: all 0.2s;
}

.d_category .d_acc .radio-input:checked+.radio-label::before {
    border-color: #041527;
}

.d_category .d_acc .radio-input:checked+.radio-label::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #041527;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
}

.checkbox-wrapper {
    display: block;
    position: relative;
    margin-bottom: 14px;
}

.checkbox-wrapper input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #1D2C3D;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 4px;
}

.checkbox-wrapper input[type="checkbox"]:checked {
    background-color: #1D2C3D;
}

.checkbox-wrapper input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 4px;
    height: 9px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-wrapper label {
    cursor: pointer;
    vertical-align: middle;
    font-size: 15px;
    color: #000;
    font-weight: 400;
    line-height: 20px;
}

/* Focus styles for accessibility */
.checkbox-wrapper input[type="checkbox"]:focus {
    outline-offset: 2px;
}

.d_category .d_right .dropdown-menu {
    width: 210px;
    border-radius: 4px;
    box-shadow: 0px 4px 28px 0px #0000000F;
    --bs-dropdown-border-width: none;
}

.d_category .d_right .d_drop .btn {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}

.d_category .d_right .d_drop a {
    border: 0.5px solid #000000;
}

.d_category .d_right .d_drop h6 {
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    padding: 20px 14px 16px 14px;
}

.d_category .d_right .d_drop .dropdown-menu .d_list {
    padding: 20px 14px 0 14px;

}

.d_category .d_right .d_drop .dropdown-menu li a {
    padding: 0;
    border: none;
}

hr {
    opacity: 1;
    margin: 0;
}

.d_searchlist .d_list .radio-wrapper {
    position: relative;
    margin-bottom: 14px;
}

.d_searchlist .d_list .radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.d_searchlist .d_list .radio-label {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
}

.d_searchlist .d_list .radio-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #1D2C3D;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    transition: all 0.2s;
}

.d_searchlist .d_list .radio-input:checked+.radio-label::before {
    border-color: #041527;
}

.d_searchlist .d_list .radio-input:checked+.radio-label::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #041527;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
}

.d_searchlist .d_search {
    margin-left: 16px;
    border: 0.5px solid #000000;
    border-radius: 8px;
    padding: 5px 20px;
}

.d_searchlist .d_search .d_text {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}

.d_category .d_lgwidth {
    width: 20%;
}

.d_category .d_lgwidth .d_img {
    height: 300px;
}

.d_category .d_lgwidth .d_title {
    font-size: 20px;
    line-height: 30px;
}

.d_category .d_lgwidth .d_price {
    font-size: 16px;
    line-height: 26px;
}

.d_category .d_lgwidth .d_review {
    font-size: 18px;
    line-height: 28px;
}

.d_category .d_lgwidth .d_content {
    padding: 8px 0 0 0;
}

.d_category .d_lgwidth .d_iconoverlay {
    bottom: 125px;
}

.d_toatify {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    min-width: 985px;
}

.d_toast {
    background-color: #66B043;
    padding: 22px 30px;
    border-radius: 4px;
}

.d_toast .d_img {
    width: 26px;
    height: 26px;
    margin-right: 18px;
}

.d_toast .d_img .img {
    width: 100%;
    height: 100%;
}

.d_toast p {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.d_toast .d_link {
    padding: 4px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 52px;
}

.d_toast .d_link a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

#categoryFilter li.active {
    color: #000;
}

/* Personal css start */

.d_personal .d_m-30 {
    margin: 0 70px;
}

.d_personal .sub_img .d_img {
    width: 110px;
    height: 110px;
    margin-bottom: 15px;
}

.d_personal .sub_img .d_img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.d_personal .d_img {
    width: 100%;
    height: 100%;
}

.d_personal .d_img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-size: cover;
}

.d_personal .d_content {
    align-self: center !important;
}

.d_personal .d_content h2 {
    font-size: 24px;
    line-height: 27px;
    font-weight: 600;
    color: #000;
}

.d_personal .d_content .d_price {
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.d_personal .d_content .d_star img {
    width: 18px;
    height: 18px;
}

.d_personal .d_content .d_review {
    font-size: 16px;
    font-weight: 400;
}

.d_personal .d_content .d_desc {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #4c4c4c;
    max-width: 560px;
}

.d_personal .d_content .d_cta1 a {
    padding: 15px 70px;
    border: 0.5px solid #000000;
    border-radius: 8px;
    margin-right: 20px;
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.d_personal .d_content .d_cta2 a {
    padding: 15px 70px;
    border: 0.5px solid #000000;
    border-radius: 8px;
    margin-right: 20px;
    font-size: 20px;
    color: #fff;
    background-color: #041527;
    font-weight: 500;
}

.d_tab .nav .nav-item {
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 28px 0px #0000000F;

}

.d_tab .nav a {
    font-size: 18px;
    color: #4c4c4c;
    line-height: 28px;
    font-weight: 500;
    border-radius: 0;
}

.d_tab .nav-pills .nav-link.active {
    background-color: transparent;
    color: #000;
    border-bottom: 4px solid #041527;
}

.d_tab .d_info {
    box-shadow: 0px 4px 28px 0px #0000000F;
}

.d_tab .d_info li {
    padding: 13px 0 13px 48px;
    border-right: 1px solid #00000029;
    border-bottom: 1.7px solid #00000014;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.d_tab .d_infodel li {
    color: #4c4c4c;
    font-weight: 400;
    border-right: 0;
}

.d_tab .d_desciption p {
    color: #323232;
    font-size: 22px;
    line-height: 36px;
    font-weight: 500;
    text-align: justify;
}

.d_tab .d_cusreview .d_left h6 {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #000;
    margin-bottom: 30px;
}

.d_tab .d_cusreview .d_left .d_totalrate {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    border-bottom: 2.5px solid #0000001A;
}

.d_tab .d_cusreview .d_left .d_rate {
    margin-top: 26px;
}

.d_tab .d_cusreview .d_left .d_no {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #000;
}

.d_tab .d_cusreview .d_left .d_star img {
    width: 18px;
    height: 18px;
    line-height: 18px;
}

.d_tab .d_cusreview .d_left .d_process {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    height: 13px;
    overflow: hidden;
}

.d_tab .d_cusreview .d_left .d_process .d_bar {
    width: 145px;
    height: 100%;
    background-color: #00900E;
    transition: width 0.5s ease-in-out;
}

.d_tab .d_cusreview .d_left .d_ratenumber {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.d_tab .d_cusreview .d_right .d_personaldel {
    border-bottom: 1.69px solid #0000001A;
    padding: 12px 0;
}

.d_tab .d_cusreview .d_right .d_item {
    width: 53px;
    background-color: #FBF0D6;
    border-radius: 5px;
    padding: 5px 0;
    margin-bottom: 8px;
}

.d_tab .d_cusreview .d_right .d_number {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    line-height: 22px;
}

.d_tab .d_cusreview .d_right img {
    width: 18px;
    height: 18px;
}

.d_tab .d_cusreview .d_right .d_comment {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    margin-bottom: 3px;
}

.d_tab .d_cusreview .d_right .d_custmername {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #323232;
}

/* cart css start */

.d_carthead .d_img {
    width: 30px;
    height: 30px;
    margin-right: 14px;
}

.d_carthead .d_img img {
    width: 100%;
    height: 100%;
}

.d_carthead p {
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
}

.d_cart .d_box {
    box-shadow: 0px 4px 28px 0px #0000000F;
    padding: 26px;
}

.d_cart .d_img {
    width: 200px;
    height: 230px;
}

.d_cart .d_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.d_cart .d_text {
    padding: 26px 0 14px 0;
}

.d_cart .d_text .d_name {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    margin-bottom: 5px;
}

.d_cart .d_text .d_price {
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

.d_cart .d_text .d_remove {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.d_cart .d_text .d_increbtn {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 150px;
    border: 0.5px solid #000000;
    border-radius: 8px;
    color: #000;
}

.d_cart .d_text .d_increbtn .d_itemnum {
    font-size: 26px;
    color: #000;
    font-weight: 500;
}

.d_cart .d_billlist {
    padding: 20px 30px;
    box-shadow: 0px 4px 28px 0px #0000000F;
}

.d_cart .d_billlist .d_delivery {
    background-color: #f7f7f7;
    padding: 15px 36px;
    margin-bottom: 20px;
}

.d_cart .d_billlist .d_delivery .d_img {
    width: 36px;
    height: 40px;
    margin-right: 22px;
}

.d_cart .d_billlist .d_delivery .d_img img {
    width: 100%;
    height: 100%;
}

.d_cart .d_billlist .d_delivery p {
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.d_cart .d_billlist .d_delivery .d_coupontext {
    font-size: 14px;
    color: #323232;
    font-weight: 400;
}

.d_cart .d_billlist .d_billdel {
    padding-bottom: 18px;
    border-bottom: 1.69px solid #0000001A;
}

.d_cart .d_billlist .d_billdel h5 {
    font-size: 22px;
    color: #000;
    font-weight: 500;
    margin-bottom: 30px;
}

.d_cart .d_billlist .d_billdel .d_billtext,
.d_cart .d_billlist .d_fee {
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.d_cart .d_billlist .d_billdel .d_free {
    color: #F65959;
}

.d_cart .d_billlist .d_final {
    padding-top: 20px;
}

.d_cart .d_billlist .d_final .d_totaltext,
.d_cart .d_billlist .d_final .d_totalamt {
    font-size: 22px;
    font-weight: 500;
    color: #000;
}

.d_cart .d_billlist .d_proceedbtn a {
    background-color: #041527;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 15px 0;
    border-radius: 8px;
}

/* Profile css start */

.d_accounthead p {
    font-size: 26px;
    font-weight: 600;
    color: #000;
}

.d_tab1 .nav {
    /* width: 300px; */
    box-shadow: 0px 4px 28px 0px #0000000F;
    border-radius: 8px;
}

.d_tab1 .nav a {
    padding: 20px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    border-bottom: 1px solid #0000001A;
    border-radius: 0;
}

.d_tab1 .nav-pills .nav-link.active {
    color: #000;
    background-color: #f7f7f7;
}

.d_tab1 .d_alpha {
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 50%;
}

.d_tab1 .d_alpha p {
    font-weight: 600;
    font-size: 22px;
    color: #000;
}

.d_tab1 .d_username {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.d_tab1 .d_mobile {
    font-size: 14px;
    font-weight: 400;
    color: #4c4c4c;
}

.d_tab1 .nav-link .d_img {
    width: 20px;
    height: 24px;
}

.d_tab1 .nav-link .d_img img {
    width: 100%;
    height: 100%;
}

.d_tab1 .d_listpro {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.d_tab1 .d_headingprofile {
    font-size: 22px;
    font-weight: 500;
    color: #000;
}

.d_tab1 .d_account .d_box {
    box-shadow: 0px 4px 28px 0px #0000000F;
    background-color: #fff;
    padding: 30px;
    height: 510px;
}

.d_tab1 .d_account .d_box .d_filed {
    border-bottom: 1px solid #0000001A;
    padding: 12px 0;
}

.d_tab1 .d_account .d_box .d_label {
    font-size: 15px;
    color: #323232;
    font-weight: 500;
}

.d_tab1 .d_account .d_box .d_result {
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.d_tab1 .d_account .d_box .d_editbtn {
    background-color: #041527;
    padding: 8px;
    border-radius: 8px;
}

.d_tab1 .d_account .d_box .d_editbtn img {
    width: 20px;
    height: 20px;
}

.d_tab1 .d_account .d_box .d_editbtn a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.d_tab1 .d_account .d_box .d_savebtn a {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 11px 130px;
    background-color: #041527;
    border-radius: 8px;
}

.d_tab1 .d_emptyimg .d_img {
    width: 290px;
    height: 270px;
}

.d_tab1 .d_emptyimg .d_img img {
    width: 290px;
    height: 270px;
}

.d_tab1 .d_emptyimg p {
    font-size: 26px;
    font-weight: 500;
    color: #000;
}

.d_tab1 .d_emptyimg .d_cta a {
    padding: 15px 40px;
    background-color: #041527;
    border-radius: 8px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.d_tab1 .d_order {
    box-shadow: 0px 4px 28px 0px #0000000F;
    background-color: #fff;
}

.d_tab1 .d_order .d_firstsec {
    padding: 18px 20px;
    border-bottom: 1px solid #0000001A;
}

.d_tab1 .d_order .d_status {
    font-size: 18px;
    font-weight: 500;
    color: #DA5353;
    margin-right: 10px;
}

.d_tab1 .d_order .d_date {
    font-size: 14px;
    font-weight: 400;
    color: #323232;
}

.d_tab1 .d_order .d_orderbtn a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #041527;
    border-radius: 8px;
    padding: 7px 15px;
}

.d_tab1 .d_order .d_secondsec {
    padding: 16px 20px;
}

.d_tab1 .d_order .d_secondsec .d_img {
    width: 100%;
    height: 180px;
}

.d_tab1 .d_order .d_secondsec .d_img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.d_tab1 .d_order .d_secondsec .d_shopname {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-bottom: 4px;
}

.d_tab1 .d_order .d_secondsec .d_itemname {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
}

.d_tab1 .d_order .d_secondsec .d_itemprice,
.d_tab1 .d_order .d_secondsec .d_itemqty {
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.d_tab1 .d_order .d_secondsec .d_orderid {
    font-size: 14px;
    font-weight: 400;
    color: #4d4d4d;
    margin-top: 6px;
}

.d_tab1 .d_order .d_secondsec .d_track a {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.d_tab1 .d_order .d_firstsec .d_success {
    color: #66B043;
}

.d_tab1 .d_order .d_thirdsec {
    padding: 18px 20px;
    border-top: 1px solid #0000001A;
}

.d_tab1 .d_order .d_thirdsec img {
    width: 14px;
    height: 14px;
}

/* cancel order model css start */

.d_ordermodel .modal-dialog {}

.d_ordermodel .modal-content {
    border-radius: 0 !important;
}

.d_ordermodel .modal-header {
    padding: 28px 30px 20px 30px;
    border-bottom: 1.69px solid #0000001A;
}

.d_ordermodel .modal-header h1 {
    font-size: 22px !important;
    font-weight: 500;
    color: #000;
}

.d_ordermodel .modal-body {
    padding: 28px 30px 0px 30px;
}

.d_ordermodel .modal-body .d_text {
    font-size: 20px;
    color: #000;
    font-weight: 400;
}

.d_mb-20 {
    margin-bottom: 20px;
}

.d_custom-radio input {
    display: none;
    /* Hide the default radio button */
}

.d_radio-checkmark {
    width: 26px;
    /* Size of the custom radio button */
    height: 26px;
    border: 2px solid #041527;
    border-radius: 50%;
    /* Make it round */
    display: inline-block;
    position: relative;
    transition: background 0.3s;
}

.d_radio-checkmark::after {
    content: "";
    width: 13px;
    /* Size of the inner dot */
    height: 13px;
    background: transparent;
    /* Hidden by default */
    border-radius: 50%;
    /* Make it round */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Center it */
    transition: background 0.3s;
}

.d_custom-radio input:checked+.d_radio-checkmark {
    background: #fff;
    /* Background color when checked */
}

.d_custom-radio input:checked+.d_radio-checkmark::after {
    background: #041527;
    /* Inner dot color when checked */
    border-color: #fff;
}

.d_ordermodel .modal-footer a {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #000000;
    font-size: 16px;
    font-weight: 500;
    color: #000 !important;
    padding: 11px 0;
    text-align: center;
}

.d_ordermodel .modal-footer .d_submit {
    background-color: #041527;
    color: #fff !important;
}

.d_ordermodel .d_closeback {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #f7f7f7;
    border-radius: 50%;
}

.d_ordermodel .d_closeback i {
    color: #041527;
}

.d_wishlist .d_head {
    font-size: 26px;
    font-weight: 600;
    color: #000;
}

.d_wishlist .d_item {
    padding: 20px;
    box-shadow: 0px 4px 28px 0px #0000000F;
}

.d_wishlist .d_item .d_img {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
}

.d_wishlist .d_item .d_img img {
    width: 100%;
    object-fit: cover;
}

.d_wishlist .d_item .d_proname {
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.d_wishlist .d_item .d_add {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.d_wishlist .d_item .d_review {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.d_wishlist .d_item .d_heart {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 50%;
}

.d_wishlist .d_item .d_heart i {
    color: #F65959;
    font-size: 16px;
}

.d_address .d_boxlist {
    padding: 30px;
    box-shadow: 0px 4px 28px 0px #0000000F;
}

.d_address .d_boxlist .d_icontext {
    padding: 6px 14px;
    background-color: #d6d6d6;
    border-radius: 8px;
    width: 100px;
}

.d_address .d_boxlist .d_icontext img {
    width: 18px;
    height: 18px;
}

.d_address .d_boxlist p {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-top: 3px;
}
.d_address .d_boxlist .d_adddel{
    font-size: 17px;
    font-weight: 500;
    color: #000;
    line-height: 26px;
    margin-top: 8px;
}
.d_address .d_dropdown{
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.d_address .d_dropbtn{
    width: 30px;
    height: 30px;
}

.d_address .d_dropdown-content {
    display: none;
    position: absolute;
    right: 15px;
    background-color: #fff;
    min-width: 240px;
    overflow: auto;
    box-shadow: 0px 4px 28px 0px #0000000F;
    z-index: 1;
}

.d_address .d_dropdown-content a {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    padding: 18px 30px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #0000001A;
}
.d_show {
    display: block !important;
}
.d_address .d_addaddress{
    box-shadow: 0px 1.9px 4.28px 0px #5C58751F;
    border: 0.84px solid #000000;
    padding: 12px 24px;
    display: inline-block;
}
.d_address .d_addaddress a i{
    font-size: 20px;
    color: #000;
    font-weight: 500;
}
.d_address .d_addaddress a {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}


.d_logoutmodel .modal-dialog{
    width: 445px !important;
}
.d_logoutmodel .modal-body{
    padding: 50px 78px;
}

.d_logoutmodel .modal-body h6{
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin-bottom: 22px;
}
.d_logoutmodel .modal-body p{
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.d_logoutmodel .modal-body a {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #000000;
    font-size: 16px;
    font-weight: 500;
    color: #000 !important;
    padding: 7px 0;
    text-align: center;
}

.d_logoutmodel .modal-body .d_submit {
    background-color: #041527;
    color: #fff !important;
}
.d_logoutmodel .d_dialog{
    margin: 0 auto ;
}




@media(max-width:1920px) {
    .d_banner2 {
        padding: 50px 0;
    }

    .d_banner2 .d_discounttext {
        top: 35px;
        right: 600px;
    }

}

@media(max-width:1690px) {
    .d_banner2 .d_discounttext {
        top: 40px;
        right: 520px;
    }
}

@media(max-width:1440px) {
    .d_grocerylist .d_item .d_img {
        height: 350px;
    }

    .d_banner2 .d_discounttext {
        top: 45px;
        right: 420px;
    }

    .d_category .d_lgwidth {
        width: 25%;
    }

    .d_toatify {
        min-width: 780px;
    }

    .d_personal .sub_img .d_img {
        width: 80px;
        height: 80px;
    }

    .d_tab .d_desciption p {
        line-height: 30px;
    }

    .d_tab1 .d_account .d_box {
        height: 470px;
    }
}

@media(max-width:1199px) {
    .d_groceryhome .d_firstsec {
        padding: 55px 0;
    }

    .d_feature .d_fealist {
        padding: 11px 16px;
    }

    .d_grocerylist h2 {
        font-size: 28px;
    }

    .d_grocerylist .d_item .d_img {
        height: 350px;
    }

    .d_banner2 .d_text h3 {
        font-size: 36px;
    }

    .d_banner2 .d_discounttext {
        font-size: 36px;
        line-height: 42px;
    }

    .d_banner2 .d_discounttext {
        top: 45px;
        right: 275px;
    }

    .d_category .d_lgwidth {
        width: 33.33%;
    }

    .d_personal .sub_img .d_img {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }

    .d_personal .d_content h2 {
        font-size: 20px;
    }

    .d_personal .d_content .d_cta1 a,
    .d_personal .d_content .d_cta2 a {
        padding: 10px 30px;
        font-size: 18px;
    }

    .d_tab .d_desciption p {
        font-size: 20px;
        line-height: 28px;
    }

    .d_cart .d_img {
        width: 100%;
        height: 160px;
    }

    .d_cart .d_text .d_increbtn {
        padding-top: 0;
        padding-bottom: 0;
        width: 100px;
    }

    .d_cart .d_text .d_increbtn .d_itemnum {
        font-size: 20px;
    }

    .d_tab1 .d_alpha {
        width: 30px;
        height: 30px;
    }

    .d_tab1 .d_alpha p {
        font-size: 18px;
    }

    .d_tab1 .d_username {
        font-size: 16px;
    }

    .d_tab1 .d_mobile {
        font-size: 12px;
    }

    .d_tab1 .d_order .d_secondsec .d_img {
        height: 100px;
    }

    .d_tab1 .d_order .d_secondsec .d_track a {
        font-size: 13px;
    }

    .d_wishlist .d_item .d_proname {
        font-size: 18px;
    }

    .d_wishlist .d_item .d_add {
        font-size: 15px;
    }

    .d_wishlist .d_item .d_review {
        font-size: 14px;
    }

    .d_wishlist .d_item .d_star {
        margin-right: 5px;
    }

    .d_wishlist .d_item .d_star img {
        width: 16px;
        height: 16px;
    }

    .d_wishlist .d_head {
        font-size: 20px;
    }
    .d_address .d_boxlist{
        padding: 20px;
    }
}

@media(max-width:991px) {
    .d_groceryhome .d_heading h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .d_feature img {
        width: 22px;
        height: 22px;
        margin-right: 12px;
    }

    .d_feature p {
        font-size: 16px;
    }

    .d_feature .d_fealist {
        padding: 11px 8px;
    }

    .d_grocerylist h2 {
        font-size: 26px;
    }

    .d_banner2 .d_text .d_cta a {
        padding: 13px 20px;
    }

    .d_banner2 .d_discounttext {
        top: 45px;
        right: 148px;
    }

    .d_category .d_lgwidth {
        width: 50%;
    }

    .d_toatify {
        min-width: 580px;
    }

    .d_toast {
        padding: 18px 20px;
    }

    .d_personal .sub_img .d_img {
        margin-right: 15px;
        width: 150px;
        height: 100px;
    }

    .d_personal .d_content .d_price {
        font-size: 18px;
    }

    .d_personal .d_m-30 {
        margin: 0 35px;
    }

    .d_tab .d_info li {
        padding-left: 25px;
    }

    .d_p-60 {
        padding: 25px 0;
    }

    .d_personal .d_img {
        height: 350px;
    }

    .d_cart .d_text .d_increbtn {
        padding-top: 2px;
        padding-bottom: 2px;
        width: 115px;
    }

    .d_tab1 .d_emptyimg p {
        font-size: 20px;
    }

    .d_tab1 .d_emptyimg .d_cta a {
        padding: 15px;
        font-size: 18px;
    }

    .d_tab1 .d_order .d_secondsec .d_img {
        height: 300px;
    }

    .d_tab1 .d_order .d_secondsec .d_track {
        text-align: start !important;
    }

    .d_ordermodel .modal-body .d_text {
        font-size: 16px;
    }

    .d_mb-20 {
        margin-bottom: 8px;
    }

    .d_radio-checkmark {
        width: 20px;
        height: 20px;
    }

    .d_radio-checkmark::after {
        width: 10px;
        height: 10px;
    }
    .d_logoutmodel .modal-body{
        padding: 20px 40px;
    }
    .d_address .d_dropdown-content{
        max-width: 210px;
    }
}

@media(max-width:767px) {
    .d_groceryhome {
        padding: 20px 0;
    }

    .d_groceryhome .d_heading h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .d_groceryhome .d_headingtext p {
        font-size: 16px;
        line-height: 20px;
    }

    .d_feature .d_fealist {
        border-right: none;
    }

    .d_feature .d_fea4 {
        padding-right: 36px;
    }

    .d_banner2 .d_text h3 {
        font-size: 20px;
        line-height: normal;
    }

    .d_banner2 .d_text p {
        font-size: 18px;
    }

    .d_banner2 {
        padding: 25px 0;
    }

    .d_banner2 .d_discounttext {
        font-size: 24px;
        line-height: 30px;
    }

    .d_searchlist .d_search {
        margin-left: 8px;
        padding: 5px;
        margin-top: 8px;
    }

    .d_category .d_lgwidth {
        width: 100%;
    }

    .d_toatify {
        min-width: 290px;
    }

    .d_toast {
        padding: 10px 10px;
    }

    .d_personal .sub_img .d_img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
}

@media(max-width:576px) {
    .d_feature img {
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }

    .d_groceryhome .d_cta a {
        padding: 10px 25px;
    }

    .d_grocerylist h2 {
        font-size: 22px;
    }

    .d_grocerylist a {
        font-size: 16px;
    }

    .d_banner2 .d_discounttext {
        top: 28px;
        right: 56px;
    }

    .d_personal .d_content .d_cta1 {
        margin-bottom: 15px;
    }

    .d_personal .d_m-30 {
        margin: 0 15px;
    }

    .d_tab .d_info li {
        padding-left: 10px;
        font-size: 14px;
    }

    .d_tab .d_desciption p {
        font-size: 18px;
        line-height: 24px;
    }

    .d_personal .d_img {
        height: 285px;
    }

    .d_tab .d_cusreview .d_left h6 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .d_tab .d_cusreview .d_left .d_totalrate {
        font-size: 18px;
    }

    .d_tab .d_cusreview .d_left .d_process {
        height: 8px;
    }

    .d_tab .d_cusreview .d_left .d_no {
        font-size: 16px;
    }

    .d_tab .d_cusreview .d_left .d_ratenumber {
        font-size: 16px;
    }

    .d_tab .d_cusreview .d_right .d_comment {
        font-size: 16px;
    }

    .d_tab .d_cusreview .d_right .d_custmername {
        font-size: 14px;
    }

    .d_tab .d_cusreview .d_right .d_item {
        padding: 1px 0;
    }

    .d_carthead .d_img {
        width: 20px;
        height: 20px;
    }

    .d_carthead p {
        font-size: 20px;
        line-height: 22px;
    }

    .d_cart .d_img {
        width: 100%;
        height: 100%;
    }

    .d_cart .d_text {
        padding-top: 14px;
    }

    .d_cart .d_text .d_name {
        font-size: 20px;
    }

    .d_cart .d_text .d_price,
    .d_cart .d_text .d_remove {
        font-size: 16px;
    }

    .d_cart .d_text .d_increbtn {
        width: 110px;
    }

    .d_cart .d_text .d_increbtn .d_itemnum {
        font-size: 22px;
    }

    .d_cart .d_billlist .d_delivery {
        padding: 15px;
    }

    .d_cart .d_billlist .d_billdel h5 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .d_cart .d_billlist .d_billdel .d_billtext,
    .d_cart .d_billlist .d_fee {
        font-size: 18px;
    }

    .d_cart .d_billlist .d_final .d_totaltext,
    .d_cart .d_billlist .d_final .d_totalamt {
        font-size: 20px;
    }

    .d_cart .d_billlist .d_proceedbtn a {
        padding: 8px 0;
        font-size: 16px;
    }

    .d_cart .d_billlist .d_delivery p {
        font-size: 16px;
    }

    .d_cart .d_billlist .d_delivery .d_img {
        width: 22px;
        height: 22px;
    }

    .d_accounthead p {
        font-size: 20px;
    }

    .d_tab1 .d_headingprofile,
    .d_tab1 .d_order .d_secondsec .d_itemname {
        font-size: 18px;
    }

    .d_tab1 .d_account .d_box .d_savebtn {
        text-align: center;
    }

    .d_tab1 .d_account .d_box .d_savebtn a {
        padding: 11px 30px;
    }

    .d_tab1 .d_order .d_secondsec .d_img {
        height: 200px;
    }

    .d_tab1 .d_order .d_firstsec,
    .d_tab1 .d_order .d_thirdsec {
        padding: 10px;
    }

    .d_tab1 .d_order .d_status {
        font-size: 15px;
    }

    .d_tab1 .d_order .d_date {
        font-size: 12px;
    }

    .d_tab1 .d_order .d_secondsec .d_shopname {
        font-size: 16px;
    }

    .d_tab1 .d_order .d_secondsec .d_itemname {
        margin-bottom: 0;
    }

    .d_tab1 .d_order .d_orderbtn a {
        padding: 7px;
        font-size: 12px;
    }

    .d_tab1 .d_account .d_box {
        height: 360px;
    }

    .d_ordermodel .modal-header,
    .d_ordermodel .modal-body,
    .d_ordermodel .modal-footer {
        padding: 15px;
    }

    .d_ordermodel .modal-header h1 {
        font-size: 18px !important;
    }

    .d_wishlist .d_head {
        font-size: 18px;
    }
    .d_logoutmodel .modal-dialog{
        width: 380px !important;
    }
    .d_logoutmodel .modal-body{
        padding: 20px;
    }
    .d_address .d_dropdown-content a{
        padding: 12px 15px;
    }
}


@media(max-width:375px) {
    .d_banner2 .d_discounttext {
        top: 25px;
        right: 32px;
    }

    .d_personal .sub_img .d_img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .d_personal .d_content .d_cta1 a,
    .d_personal .d_content .d_cta2 a {
        padding: 10px;
        margin-right: 0;
    }

    .d_cart .d_text {
        padding-bottom: 0;
    }
    .d_logoutmodel .modal-dialog{
        width: 340px !important; 
    }
}

@media(max-width:320px) {
    .d_feature p {
        font-size: 13px;
    }

    .d_feature .d_fea4 {
        padding-right: 31px;
    }

    .d_grocerylist h2 {
        font-size: 18px;
    }

    .d_banner2 {
        padding: 15px 0;
    }

    .d_banner2 .d_discounttext {
        font-size: 20px;
        line-height: 22px;
    }

    .d_banner2 .d_discounttext {
        top: 23px;
        right: 36px;
    }

    .d_banner2 .d_text .d_cta a {
        padding: 8px 14px;
    }

    .d_banner2 .d_text p {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .d_banner2 .d_text h3 {
        font-size: 18px;
    }

    .d_personal .d_m-30 {
        margin: 0 5px;
    }

    .d_cart .d_text .d_increbtn {
        width: 100px;
    }

    .d_cart .d_billlist .d_delivery p {
        font-size: 13px;
    }

    .d_tab1 .d_order .d_status,
    .d_tab1 .d_order .d_date {
        font-size: 10px;
    }
    .d_logoutmodel .modal-dialog{
        width: 303px !important;
    }
    .d_logoutmodel .modal-body{
        padding: 20px 10px;
    }
}


/* contianer*/

@media (min-width: 1650px) {
    .d_container {
        width: 1620px;
    }
}

@media (min-width: 1200px) and (max-width: 1649px) {
    .d_container {
        width: 1199px;
        max-width: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .d_container {
        width: 970px;
        max-width: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .d_container {
        width: 750px;
        max-width: none;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .d_container {
        max-width: 750px;
    }
}

@media (min-width: 300px) and (max-width: 450px) {
    .d_container {
        max-width: 750px;
        padding: 0px 10px;
    }
}