:root {
    --theme-bg: #041527;
}

* {
    box-sizing: border-box;
}


.VK_inter {
    font-family: "inter", sans-serif;
}

.VK_lato {
    font-family: "Lato", system-ui;
}

.VK_cont {
    width: 1610px;
    margin: auto;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.object_cover {
    object-fit: cover;
}

.VK_gold_bg {
    background-color: #CA9F5C !important;
}

.VK_white_space {
    white-space: nowrap;
}


/* --------------------------------------------- home page ----------------------------------------------- */

.VK_home_slider {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/vivek/home_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.VK_page_heading {
    font-size: clamp(28px, 5vw, 42px);
}

.VK_slider_heading {
    font-size: clamp(28px, 5vw, 48px);
}

.VK_section_heading {
    font-size: clamp(24px, 4vw, 30px);
    font-family: "Lato", system-ui;
}

.VK_sec_desc {
    font-size: clamp(16px, 2vw + 1rem, 18px);
    line-height: 1.2;
}

.text-black {
    color: black !important;
}

.VK_home_cate li a {
    border-bottom: 1px solid #c2bfbf;
    padding: 10px;
}

.VK_home_cate li:last-child a {
    border-bottom: 0;
}



.VK_home_cate {
    border-radius: 5px !important;
}

.VK_border_right {
    border-right: 1px solid #ddd !important;
}

.VK_dd {
    color: #ddd;
}

.VK_outlline_none {
    outline: none;
}

.VK_sec_padd {
    padding: 60px 0px;
}



.VK_caro_img {
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
}

.VK_caro_text {
    font-size: 18px;
}

.VK_best_food_caro {
    position: relative;
}


.VK_best_food_caro .owl-nav .owl-prev {
    position: absolute;
    transform: translateY(-100%);
    top: 45%;
    left: -2%;
}

.VK_best_food_caro .owl-nav .owl-next {
    position: absolute;
    transform: translateY(-100%);
    top: 45%;
    left: 98%;
}

.VK_best_food_caro .owl-nav .owl-next i,
.VK_best_food_caro .owl-nav .owl-prev i {
    font-size: 18px !important;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CA9F5C !important;
    border-radius: 50% !important;
    color: white;

    &:hover {
        background-color: black !important;
    }
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none !important;
}


.VK_your_food {
    background-color: rgba(4, 21, 39, 1);
}

.VK_food_color {
    background-image: url('/images/vivek/Mask\ group.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.VK_new_satter {
    background-image: url('/images/vivek/newsetller.png');
}

.VK_new_setter_txt {
    letter-spacing: 5px;
    font-weight: 900;
}

.VK_setter_email {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
}

.VK_setter_sub {
    background: rgba(4, 21, 39, 1);
    padding: 10px 40px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 12px;
    text-transform: uppercase;
}

.VK_delivery_txt {
    font-size: 14px;
    font-weight: 900;
    color: black;
}

.VK_border_dash:not(:last-child) {
    border-right: 1px dashed #000;
}

.VK_border_dash_white:not(:last-child) {
    border-right: 1px dashed white;
}


/* model */
.VK_input_border {
    border: 1px solid black;
    border-radius: 5px;
}

.VK_theme_btn {
    background-color: #041527;
    padding: 6px 0px;
    border-radius: 5px;
}

.VK_signin_model .modal-dialog {
    max-width: 50% !important;
}

.VK_seperators {
    width: 40%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.14);
    display: inline-block;
}

.font_14 {
    font-size: 14px;
}

.font_20 {
    font-size: 20px;
}

.VK_black_border {
    border: 1px solid black;
}

.VK_round {
    border-radius: 5px;
}

.VK_gold {
    color: #CA9F5C;
}


/* otp */
.otp-inputs {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.otp {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* sign up */
.VK_signup_number {
    width: 300px !important;
}

/* location */

.VK_location_map {
    position: relative;
}

.VK_location_close {
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translateX(-100%);
}

.VK_close_span {
    height: 30px !important;
    width: 30px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}



/* ------------------------------------------------------- food Home  ------------------------------------------------------- */

/* food home poster */
.VK_food_home_poster {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/vivek/food_home1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.VK_food_home_heading {
    text-align: center;
    font-weight: 600;
    width: 450px;
    color: white;
}

.VK_theme_btn {
    background-color: #CA9F5C;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.2s ease;

    &:hover {
        background-color: #000;
    }
}

.VK_poster_text_parent {
    padding: 150px 0px;
}

/* popular foods */
.VK_popular_foods {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('/images/vivek/popular_foods.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.VK_popular_food_img {
    border-radius: 10px;
    overflow: hidden;
    height: 300px;
    position: relative;
}

.VK_popular_food_title {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(4, 21, 39, 0.5);
    opacity: 0;
    transition: all 0.2s ease;

    &:hover {
        opacity: 1;
    }
}

.VK_popular_food_caro .owl-nav .owl-next i,
.VK_popular_food_caro .owl-nav .owl-prev i {
    font-size: 18px !important;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CA9F5C !important;
    border-radius: 50% !important;
    color: white;

    &:hover {
        background-color: black !important;
    }
}

.VK_popular_food_caro .owl-nav {
    margin: 0px !important;
}

.VK_popular_food_caro .owl-nav .owl-prev {
    position: absolute;
    top: 47%;
    left: 10px;
}

.VK_popular_food_caro .owl-nav .owl-next {
    position: absolute;
    top: 47%;
    right: 10px;
}

/* regular menu */

.VK_regular_menu_img {
    height: 300px;
    border-radius: 10px;
    position: relative;
}

.VK_regular_cart {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(4, 21, 39, 0.5);
    top: 0%;
    left: 0%;
    opacity: 0;
    transition: opacity 0.2s ease, background-color 0.2s ease, transform 0.4s ease 0.2s;
}

.VK_cart_btn {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CA9F5C;
    transition: background-color 0.2s ease, transform 0.4s ease 0.2s;
    transform: translateY(70px);
}

.VK_cart_btn:hover {
    background-color: #000;
}

.VK_regular_cart:hover {
    opacity: 1;
}

.VK_regular_cart:hover .VK_cart_btn {
    transform: translateY(0px);
}

.VK_regular_cart {
    transition: opacity 0.2s ease;
}


.font_18 {
    font-size: 18px;
}

.VK_review_star {
    color: #fdc040;
}

.VK_star {
    color: #cacaca;
}


/* buy food */
.VK_buy_food {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0.21%, rgba(0, 0, 0, 0.6) 100%), url('/images/vivek/buy_food_poster.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.VK_500 {
    width: 500px;
}


/* resturent with food */
.VK_resturent_drop.dropdown-toggle::after {
    display: none;
}


/* flat off */
.VK_flat_off {
    background-image: linear-gradient(rgba(4, 21, 39, 0.8), rgba(4, 21, 39, 0.8)), url('/images/vivek/flat_off.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.VK_border_bottom {
    border-bottom: 1px solid #ddd;
}

.VK_resturent_txt {
    text-overflow: ellipsis;
}

.VK_resturent_food {
    height: 300px;
    border-radius: 10px;
    position: relative;
}

.VK_resturent_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.VK_resturent_btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    border: none;
}

.VK_resturent_alert {
    position: absolute;
    top: 20px;
    left: 1px;
}

.VK_resturent_alert p {
    background-color: #041527;
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}


/* ------------------------------------------------------- popular food ------------------------------------------------------ */
.VK_popular_food_poster {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/vivek/VK_popular_food.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: transparent !important;

}


/* ------------------------------------------------------- Resturents ------------------------------------------------------- */
.VK_button_clr{
    color: #67717c;
}
.VK_button_brd{
    border: 1px solid #67717c;
}

.VK_reco_img{
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.VK_reco_veg{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
}

.VK_food_heading {
    font-size: clamp(18px, 2vw, 22px);
}

.VK_shadow{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.VK_menu_bar{
    position: sticky;
    bottom: 0px;
}
.VK_menubar_color{
    background-color: rgb(102, 176, 67);
}
.VK_white_border{
    border: 1px solid white;
}

.VK_menu_box_btns{
    background-color: rgba(4, 21, 39, 1);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.VK_bg_light{
    background-color: #e5e5e5;
}

.VK_backdrop{
    position: fixed;
    display: none;
    height: 100vh;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.575);
    top: 0%;
}

.VK_open_menu{
    width: 98%;
    left: 2px;
    transition: all 0.3s ease;
    transform: translateY(100%);
    box-sizing: border-box;
}

.VK_opne_menu_box{
    transform: translateY(-102%);
}

.VK_menu_parent{
    overflow: hidden;
}

.VK_round_lg{
    border-radius: 5px;
    overflow: hidden;
}

.VK_add_to_cart{
    background-color: #041527;
    border-radius: 5px;
    border: 0px;
    height: 100%;
}




/* ---------------------------------------------- media query ----------------------------------------------- */

/*  extra small device */
@media (max-width:480px) {
    .VK_home_slider {
        height: 400px;
    }

    .VK_sec_padd {
        padding: 30px 0px;
    }

    .VK_best_food_caro .owl-nav .owl-prev {
        left: calc(-2% - 3px);
    }

    .VK_best_food_caro .owl-nav .owl-next {
        left: calc(88%);
    }

    .VK_setter_sub {
        padding: 10px 20px;
    }

    .VK_border_dash {
        border-right: none !important;
    }

    .VK_border_dash_white {
        border-right: none !important;
    }

    .VK_signin_model .modal-dialog {
        max-width: 100% !important;
    }

    .VK_otp_model .modal-dialog {
        max-width: 100% !important;
    }

    .VK_signup_model .modal-dialog {
        max-width: 100% !important;
    }

    .VK_poster_text_parent {
        padding: 55px 0px;
    }

    .VK_500 {
        width: auto;
    }

    .VK_popular_food_poster {
        height: 300px;
    }
    .VK_img_col{
        height: 250px !important;
    }
    .VK_col_img{
        height: 150px;
    }
}

/* small device */
@media (max-width:576px) and (min-width:481px) {
    .VK_home_slider {
        height: 450px;
    }

    .VK_sec_padd {
        padding: 30px 0px;
    }

    .VK_best_food_caro .owl-nav .owl-prev {
        left: calc(-2% - 3px);
    }

    .VK_best_food_caro .owl-nav .owl-next {
        left: calc(94% - 3px);
    }

    .VK_border_dash {
        border-right: none !important;
    }

    .VK_border_dash_white:last-child,
    .VK_border_dash_white:nth-last-child(3) {
        border-right: none !important;
    }

    .VK_signin_model .modal-dialog {
        max-width: 100% !important;
    }

    .VK_otp_model .modal-dialog {
        max-width: 100% !important;
    }

    .VK_signup_model .modal-dialog {
        max-width: 100% !important;
    }

    .VK_signin_flex {
        flex-direction: column-reverse;
    }

    .VK_poster_text_parent {
        padding: 75px 0px;
    }

    .VK_500 {
        width: auto;
    }

    .VK_popular_food_poster {
        height: 400px;
    }
    .VK_img_col{
        height: 300px !important;
    }
    .VK_col_img{
        height: 200px;
    }
}

/* medium device */
@media (max-width:767px) and (min-width:577px) {

    .VK_home_slider {
        height: 500px;
    }

    .VK_sec_padd {
        padding: 40px 0px;
    }

    .VK_best_food_caro .owl-nav .owl-prev {
        left: calc(-3% - 3px);
    }

    .VK_best_food_caro .owl-nav .owl-next {
        left: calc(100% - 21px);
    }

    .VK_border_dash:last-child,
    .VK_border_dash:nth-last-child(3) {
        border-right: none !important;
    }

    .VK_border_dash_white:last-child,
    .VK_border_dash_white:nth-last-child(3) {
        border-right: none !important;
    }

    .VK_signin_model .modal-dialog {
        max-width: 90% !important;
    }

    .VK_otp_model .modal-dialog {
        max-width: 90% !important;
    }

    .VK_signup_model .modal-dialog {
        max-width: 90% !important;
    }

    .VK_poster_text_parent {
        padding: 100px 0px;
    }

    .VK_popular_food_poster {
        height: 450px;
    }
    .VK_img_col{
        height: 300px !important;
    }
    .VK_col_img{
        height: 200px;
    }
}

/* lg device */
@media (max-width:992px) and (min-width:768px) {
    .VK_sec_padd {
        padding: 40px 0px;
    }

    .VK_best_food_caro .owl-nav .owl-prev {
        left: calc(-3% - 3px);
    }

    .VK_best_food_caro .owl-nav .owl-next {
        left: calc(97% - 3px);
    }

    .VK_settler_imgs {
        position: relative;
        top: 60px;
    }

    .VK_signin_model .modal-dialog {
        max-width: 80% !important;
    }

    .VK_otp_model .modal-dialog {
        max-width: 80% !important;
    }

    .VK_signup_model .modal-dialog {
        max-width: 80% !important;
    }

    .VK_popular_food_poster {
        height: 450px;
    }
    .VK_img_col{
        height: 350px !important;
    }
    .VK_col_img{
        height: 250px;
    }
}

/* xl device */
@media (max-width:1200px) and (min-width:993px) {
    .VK_best_food_caro .owl-nav .owl-prev {
        left: calc(-2% - 4px);
    }

    .VK_best_food_caro .owl-nav .owl-next {
        left: calc(98% - 4px);
    }

    .VK_settler_imgs {
        position: relative;
        top: 60px;
    }

    .VK_signin_model .modal-dialog {
        max-width: 60% !important;
    }

    .VK_otp_model .modal-dialog {
        max-width: 60% !important;
    }

    .VK_signup_model .modal-dialog {
        max-width: 65% !important;
    }

    .VK_area_details .modal-dialog {
        max-width: 50% !important;
    }

    .VK_popular_food_poster {
        height: 450px;
    }

    .VK_col_h {
        height: 100%;
    }

    .VK_col_img {
        height: 50%;
    }

    .VK_restro_img_height {
        height: 550px;
    }
}

/* 2xl device */
@media (max-width:1440px) and (min-width:1199px) {
    .VK_best_food_caro .owl-nav .owl-prev {
        left: calc(-2% - 2px);
    }

    .VK_best_food_caro .owl-nav .owl-next {
        left: calc(98% - 2px);
    }

    .VK_settler_imgs {
        margin-bottom: calc(-6rem + 1rem);
    }

    .VK_signin_model .modal-dialog {
        max-width: 50% !important;
    }

    .VK_otp_model .modal-dialog {
        max-width: 50% !important;
    }

    .VK_signup_model .modal-dialog {
        max-width: 55% !important;
    }

    .VK_area_details .modal-dialog {
        max-width: 40% !important;
    }

    .VK_col_h {
        height: 100%;
    }

    .VK_col_img {
        height: 50%;
    }

    .VK_restro_img_height {
        height: 550px;
    }
}

/* 3xl device */
@media (min-width:1441px) {
    .VK_settler_imgs {
        margin-bottom: calc(-6rem + 2rem);
    }

    .VK_signin_model .modal-dialog {
        max-width: 40% !important;
    }

    .VK_otp_model .modal-dialog {
        max-width: 42% !important;
    }

    .VK_signup_model .modal-dialog {
        max-width: 45% !important;
    }

    .VK_area_details .modal-dialog {
        max-width: 35% !important;
    }

    .VK_location_model .modal-dialog {
        max-width: 30% !important;
    }

    .VK_p {
        font-size: 18px;
    }

    .VK_col_h {
        height: 100%;
    }

    .VK_col_img {
        height: 50%;
    }

    .VK_restro_img_height {
        height: 550px;
    }
    .dialog_model .modal-dialog{
        max-width: 30% !important;
    }

}



@media (max-width:1649px) and (min-width:1441px) {
    .VK_cole {
        padding: 0px 30px;
    }
}

@media (min-width:1650px) {
    .VK_cole {
        padding: 0px 50px;
    }
}





.d_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* ---------------------- container ---------------------- */
@media (min-width: 1650px) {
    .d_container {
        width: 1620px;
    }
}

@media (min-width: 1200px) and (max-width: 1649px) {
    .d_container {
        width: 1199px;
        max-width: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .d_container {
        width: 970px;
        max-width: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .d_container {
        width: 750px;
        max-width: none;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .d_container {
        max-width: 750px;
    }
}

@media (min-width: 300px) and (max-width: 450px) {
    .d_container {
        max-width: 750px;
        padding: 0px 10px;
    }
}










.radio-container {
    margin: 0 auto;
    max-width: 300px;
    color: white;
}

.radio-wrapper {
    margin-bottom: 20px;
}

.radio-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


.radio-button input[type="radio"] {
    display: none;
}

.radio-checkmark {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 50%;
}

.radio-checkmark:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #333;
    transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked~.radio-checkmark:before {
    transform: translate(-50%, -50%) scale(1);
}

.radio-label {
    font-size: 16px;
    font-weight: 600;
}